@mixin general-body {
    height: 100%;
    width: 100%;
    background-color: #ADAFEE;
    margin: 0;
    padding:0;  
    font-family: $tipografia-body;
}

@mixin flex-justifycontent{
    display:flex;
    justify-content:center;
}